<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @host.rate %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @host.amenities %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
